*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
}

.headers{

    margin-bottom: 10px;
    font-family: Tahoma, Arial;
    text-transform: uppercase;
}

.title-header{

    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Tahoma, Arial;
    text-transform: uppercase;
    
}

.title-header h1{
    font-family: Impact, Tahoma, Arial;
    font-weight: 100;

}


body p{
    font-family: Tahoma, Arial;
    margin-bottom: 20px;
    line-height: 1.6em;
}

.p-about p{
    text-align:left;
    line-height:normal;
    font-size: 14px;
}

.footer{
    font-family:Tahoma, Arial;
    font-size: 10px;

}

.copy{
    font-family:Tahoma, Arial;
    font-size: 10px;
    text-align: right;
}